.page-404 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-404__title {
    font-size: 10rem;
    color: #f44336;
}

.page-404__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
}

.page-404__description {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #9e9e9e;
}
